<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19124025859-jli9roltqmr5b7f6gcpt97set41mneed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19124025859-jli9roltqmr5b7f6gcpt97set41mneed</string>
	<key>API_KEY</key>
	<string>AIzaSyAByEZiSUqwr0t9WIykq8trPpdyWCMsUg0</string>
	<key>GCM_SENDER_ID</key>
	<string>19124025859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ex.Messages</string>
	<key>PROJECT_ID</key>
	<string>chatmessages-1d274</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmessages-1d274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19124025859:ios:6eacdc235e533c2c</string>
	<key>DATABASE_URL</key>
	<string>https://chatmessages-1d274.firebaseio.com</string>
</dict>
</plist>